
@import url('https://fonts.googleapis.com/css?family=Cormorant');
@import url('https://fonts.googleapis.com/css?family=Cormorant Upright');


/* Typography */
$font-family-base: Cormorant Upright,Candara;
$headings-font-family: Cormorant;
$border-width: 2px;
$primary: #1F1E2C;
$secondary: #F4EEED;
$theme-colors: (
        "primary": #1F1E2C,
        "secondary": #F4EEED
);

$display-font-sizes: (
        1: 5rem,
        2: 4.5rem,
        3: 4rem,
        4: 3.5rem,
        5: 3.2rem,
        6: 2.5rem
);

