
/* Colors */
$index: #EDEAE3;/*same as pag5*/
$pag1: #f4eeed ;/*same as pag7*/
$pag2: #9CA9B1;/*same as pag8*/
$pag3: #E5E1E0;/*same as pag9*/
$pag4: #CFE7EA;
$pag6: #28364A;

/* Typography */
$font-family-base: Candara,Arial;
$headings-font-family: Bahnschrift;
//$font-size-base: 5rem;
$border-width: 3px;


/* COLOR #f4eeed #1f1e2c*/
